h2{
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

p{
    padding: 0px;
    margin: 0px;
}

input{
    border-radius: 5px;
}

button{
    margin-top: 2vh;
    width: 15vw;
    font-size: 20px;
    color: rgb(8, 8, 8);
    background-color: rgb(230, 116, 116);
    border-color:  rgb(239, 125, 125);
    
}
button:hover{
    color: rgb(8, 8, 8);
    background-color:rgb(214, 168, 168);
    border-color: rgb(214, 168, 168);
}


.fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(131, 52, 52);
}   


